<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from themetechmount.com/html/inoterior-dark/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Mar 2023 16:22:29 GMT -->

<head>
    <%- include('./elements/title.ejs'); -%>
    <%- include('./elements/css.ejs'); -%>
</head>

<body>
    <!--page start-->
    <div class="page ttm-bgcolor-darkgrey">
        <!--header start-->
        <%- include('./elements/header.ejs'); -%>
        <!--header end-->

        <%- body %>

        <!--footer start-->
        <%- include('./elements/footer.ejs'); -%>
        <!--footer end-->

        <!--back-to-top start-->
        <a id="totop" href="#top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!--back-to-top end-->
    </div><!-- page end -->
    <!-- Javascript -->
    <%- include('./elements/script.ejs'); -%>
    <!-- Javascript end-->

</body>
<!-- Mirrored from themetechmount.com/html/inoterior-dark/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Mar 2023 16:22:43 GMT -->
</html>